<a class="btn btn-info" href="https://docs.google.com/document/u/0/export?format=pdf&id=1SBk4Z79F052TtkpyxQhYKiSQU_ILiDl38ArLHCnAwy8&token=AC4w5Vi-uPTh8reubNKImUqqQjfqkdGfRw%3A1441130351976">
    <span class="glyphicon glyphicon-save-file"></span> Download PDF copy
</a>
<!--
<iframe height="100%" width="100%" src="https://docs.google.com/document/d/1SBk4Z79F052TtkpyxQhYKiSQU_ILiDl38ArLHCnAwy8/pub?embedded=true"></iframe>
-->
<iframe src="https://docs.google.com/document/d/1SBk4Z79F052TtkpyxQhYKiSQU_ILiDl38ArLHCnAwy8/pub?embedded=true" frameborder="0" style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:100%;width:100%;position:absolute;top:70px;left:0px;right:0px;bottom:0px;z-index:-1;" height="100%" width="100%"></iframe>
