<div class="row">
    <div class="col-md-4 col-sm-6 col-sx-12">
        <p>Mobil:
            <br> +46 704 913 556</p>
        <p>Postadress:
            <br> J&auml;gargatan 1, 1 tr
            <br> 118 67 Stockholm</p>
        <p>E-mail:
            <br>
            <img src="images/email.jpg" alt="benke [at] brimberg [punkt] se" title="bild för att lura spammare"></p>
        <a href="https://se.linkedin.com/pub/benke-brimberg/2a/37b/959/sv">
            <img src="images/linkedinLogo.png" /> LinkedIn profile
        </a>
    </div>
    <div class="col-md-4 col-sm-6 col-sx-12">
        <img src="images/26c511c.jpg" />
    </div>
</div>
