<div class="row">
    <div class="col-md-4 col-sm-6 col-sx-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Kontaktinformation</h3>
            </div>
            <div class="panel-body">
                <p>Mobil:
                    <br> +46 704 913 556</p>
                <p>Postadress:
                    <br> J&auml;gargatan 1, 1 tr
                    <br> 118 67 Stockholm</p>
                <p>E-mail:
                    <br>
                    <img src="images/email.jpg" alt="benke [at] brimberg [punkt] se" title="bild för att lura spammare"></p>
                <a href="https://se.linkedin.com/pub/benke-brimberg/2a/37b/959/sv">
                    <img src="images/linkedinLogo.png" /> LinkedIn profile
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-sx-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="images/26c511c.jpg" />
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-sx-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Kurser</h3>
            </div>
            <div class="panel-body">
                <span>Samarbetar med några av Sveriges mest kunniga och inspirerande lärare inom stordatorteknik. Vi kan ordna kurs inom alla områden som du behöver.</span>
                <span>Gå vidare till tanproduktion eller slå mig en signal</span>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-sx-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>L&auml;nkar</h3>
            </div>
            <div class="panel-body">
                <p><a href="http://tandata.se/indexFrameset-1.htm">Kurser innom fr&auml;mst stordatorer</a></p>
                <p><a href="http://www.metaforce.se/">Utskrifthantering</a></p>
            </div>
        </div>

    </div>
</div>
